html, body {
  width: 100%;
  height: 100%;
  line-height: 1.25;
  font-size: 16px; }

html {
  font-family: sans-serif, Arial, Helvetica;
  color: #FFFFFF;
  scroll-behavior: smooth; }

.navbar-brand {
  font-size: 0; }
  .navbar-brand img {
    height: 25px; }

#home {
  width: 100%;
  color: #FFFFFF;
  padding-top: 6rem;
  padding-bottom: 4rem; }
  #home h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.5rem;
    word-spacing: 500px;
    line-height: 1.1; }
  #home .content {
    margin-top: 2rem;
    font-size: 1rem; }
  #home .tagcloud {
    margin-top: 2rem; }
  #home .tagcloud > .badge {
    margin-top: 0.5rem;
    margin-right: 0.2rem;
    font-size: 1rem;
    font-weight: normal; }
  #home .links {
    margin-top: 2rem; }

#home .links .lead {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

  #home .cta {
    background: #FF6673;
    font-weight: bold;
    border: none;
    margin-bottom: 2rem; }
  #home .continue {
    color: #4CBFBF;
    border-color: #4CBFBF;
    background-color: rgba(0, 0, 0, 0.25); }

section {
  padding-top: 6rem;
  padding-bottom: 4rem; }
  section h2 {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 2rem; }
  section .btn {
    font-weight: bold;
    border: none;
    margin-top: 2rem; }

#introduction {
  background: #7347b0;
  color: #FFFFFF;
  padding-bottom: 0; }
  #introduction .btn {
    background: #FF6673; }
  #introduction .imagefill {
    width: 100%;
    height: 600px;
    background-image: url("/media/wires.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 4rem; }

@media (min-width: 768px) {
  #introduction {
    padding-bottom: 4rem;
    position: relative; }
    #introduction .imagefill {
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      margin-top: 0;
      position: absolute; } }

#content {
  background: #4CBFBF;
  color: #FFFFFF; }
  #content .topics {
    margin-top: 2rem; }
  #content .item {
    text-align: left;
    margin-top: -50px; }
  #content .item:first-child {
    margin-top: 0; }
  #content .item:nth-child(even) {
    text-align: right; }
    #content .item:nth-child(even) .icon {
      background: #FF6673; }
  #content .wrapper {
    width: 50%;
    display: inline-block;
    text-align: center; }
  #content .icon {
    background: #5B388C;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50px; }
    #content .icon img {
      width: 45px;
      height: auto;
      vertical-align: middle; }
  #content .name {
    text-transform: uppercase !important;
    font-size: 0.9rem;
    font-weight: normal;
    margin-top: 0.75rem; }

@media (min-width: 768px) {
  #content .topics {
    margin-top: 0; }
  #content .item {
    text-align: center;
    margin-top: 0; }
  #content .item:nth-child(even) {
    text-align: center; }
  #content .wrapper {
    width: 100%;
    margin-bottom: 1rem; } }

#inspiration {
  background: #FFFFFF;
  color: #000000; }
  #inspiration .projects {
    margin-top: 2rem; }
    #inspiration .projects .item {
      margin-top: 2rem; }
    #inspiration .projects .name {
      font-weight: 700;
      line-height: 1;
      margin-top: 1.5rem; }
    #inspiration .projects .author, #inspiration .projects .description {
      text-transform: uppercase;
      font-size: 0.9rem;
      line-height: 1;
      margin-top: 0.5rem;
      margin-bottom: 0; }
    #inspiration .projects .description {
      margin-bottom: 2rem; }

@media (min-width: 768px) {
  #inspiration .projects {
    margin-top: 0; }
    #inspiration .projects .item {
      margin-bottom: 2rem;
      margin-top: 0; }
    #inspiration .projects .item:last-child {
      margin-bottom: 0; } }

#pricing {
  background: #7347b0;
  color: #FFFFFF; }
  #pricing .btn {
    background: #FF6673; }
  #pricing .wrapper {
    background: #FFFFFF;
    border-radius: 0.75rem;
    margin-top: 2rem;
    padding: 0.75rem; }
  #pricing table thead td {
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem; }
  #pricing table tbody td {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  #pricing table tfoot .btn {
    margin: 0; }
  #pricing table tfoot td {
    padding-top: 1rem;
    padding-bottom: 0; }
  #pricing table tr, #pricing table td {
    background: none; }
  #pricing table tr:last-child td {
    border: none; }

@media (min-width: 768px) {
  #pricing .wrapper {
    margin-top: 0;
  }
}


#location {
  background: #4CBFBF;
  color: #FFFFFF;
  padding-bottom: 0; }

#map {
  height: 600px;
  margin-top: 4rem; }

#location .visit {
  background: #FF6673;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.75rem;
}

#location .visit h3 {
  margin-bottom: 2rem;
}

#location .visit .btn {
  margin-top: 1rem;
  background: #7347b0;
}

@media (min-width: 768px) {
  #location {
    padding-bottom: 4rem;
    position: relative; }
  #map {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    margin-top: 0;
    position: absolute; } }

#join {
  background: #FF6673;
  color: #FFFFFF;
  padding-bottom: 0; }
  #join .btn {
    background: #4CBFBF; }
  #join .wrapper {
    border-radius: 0.75rem;
    background: #FFFFFF;
    padding: 15px;
    margin-top: 2rem; }
  #join form {
    color: #000000; }
  #join input[type="text"], #join input[type="email"], #join textarea {
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
  #join .form-group {
    margin-top: 1rem; }
  #join .form-group:first-child {
    margin-top: 0.5rem; }
  #join .option {
    padding-left: 0.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    #join .option .form-check {
      margin-top: 0.75rem; }
      #join .option .form-check label, #join .option .form-check input {
        vertical-align: middle; }
  #join .submit {
    text-align: center; }
    #join .submit button {
      font-size: 2rem; }
  #join .imagefill {
    width: 100%;
    height: 600px;
    background-image: url("/media/waterjet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 4rem; }

@media (min-width: 768px) {
  #join {
    padding-bottom: 4rem;
    position: relative; }
    #join .imagefill {
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      margin-top: 0;
      position: absolute; } }

#privacy {
  background: #FFFFFF;
}

.background {
  background: url("/media/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: scroll;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10; }
  .background video {
    height: 100%;
    width: 177.77777778vh;
    /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw;
    /* 100 * 9 / 16 */
    position: absolute;
    left: 50%;
    /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%);
    /* % of current element */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: " (" attr(href) ")"; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
