{{ with .GetPage "/content" }}

{{ $base := .Permalink }}

<section id="content">
  <div class="container">

    <div class="row">

      <div class="col-md-5">
        <h2>{{ .Title }}</h2>

        {{ .Content }}
      </div>
      <!-- /.col-md-5 -->

      <div class="col-md-7">

        <div class="topics row">
          {{ with .Params.Topic }}
            {{ range . }}

              <div class="item col-md-4 col-lg-3">
                <div class="wrapper">

                  <div class="icon">
                    <img src="{{ $base }}media/{{ index . `icon` }}" alt="{{ index . `name` }}">
                  </div>

                  <h3 class="name">{{ index . "name" }}</h3>

                </div>
              </div>
            {{ end }}
          {{ end }}
        </div>

      </div>
      <!-- /.col-md-7 -->

    </div>
    <!-- /.row -->

  </div>
</section>

{{ end }}
