{{ with .GetPage "/contact" }}

{{ $base := .Permalink }}

<section id="join">
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        <h2>{{ .Title }}</h2>

        {{ .Content }}

        <form id="formJoinNow" action="{{ .Params.Form.Action }}" method="POST">

          <div class="wrapper">

            <div class="form-group">
              <input type="text"
                class="form-control"
                name="first_name"
                id="form_first_name"
                placeholder="{{ .Params.Form.First_name }}" required
                pattern="[A-Za-z]+">
            </div>

            <div class="form-group">
              <input type="text"
                class="form-control"
                name="last_name"
                id="form_last_name"
                placeholder="{{ .Params.Form.Last_name }}" required
                pattern="[A-Za-z]+">
            </div>

            <div class="form-group">
              <input type="email"
                class="form-control"
                name="_replyto"
                id="form__replyto"
                placeholder="{{ .Params.Form.Email }}" required>
            </div>

            <div class="form-group">
              <input type="tel"
                class="form-control"
                name="phone"
                id="form_phone"
                pattern="[+]{0,1}[0-9]{3,}"
                placeholder="{{ .Params.Form.Phone }}" required>
            </div>

            <div class="form-group">
              <textarea class="form-control"
                name="comments"
                id="form_comments"
                placeholder="{{ .Params.Form.Comments }}"
                rows="3"></textarea>
            </div>

            <div class="option form-group">
              <div class="form-check">
                <input type="checkbox"
                  class="form-check-input"
                  name="consent"
                  value="yes"
                  id="form_consent" required>

                {{ $full := .Params.Privacy.Text }}
                {{ $href := .Params.Privacy.Link_href }}
                {{ $link := .Params.Privacy.Link_text }}
                {{ $html := (print "<a href=\"" $href "\">" $link "</a>") }}
                {{ $replaced := replace $full $link $html }}
                <label class="form-check-label"
                  for="form_consent">{{ $replaced | safeHTML }}</label>
              </div>
            </div>

          </div>
          <!-- /.wrapper -->

          <div class="submit form-group">
            <button type="submit" class="btn btn-dark btn-lg">{{ .Params.Form.Submit }}</button>
          </div>
        </form>

      </div>
      <!-- /.col-md-5 -->

    </div>
    <!-- /.row -->

  </div>

  <div class="imagefill">
    <!-- Cosmetic treatment via CSS here -->
  </div>
</section>

{{ end }}
