{{ with .GetPage "/inspiration" }}

{{ $base := .Permalink }}

<section id="inspiration">
  <div class="container">

    <div class="row">

      <div class="col-md-5">
        <h2>{{ .Title }}</h2>

        {{ .Content }}
      </div>
      <!-- /.col-md-5 -->

      <div class="col-md-7">
        {{ with .Params.Project }}
          <div class="projects row">

          {{ range . }}
            <div class="item col-md-6">
              <video controls width="100%"
                poster="{{ $base }}media/{{ index . `poster` }}">

                <source src="{{ $base }}media/{{ index . `video` }}"
                  type="video/mp4">

                  Sorry, your browser doesn't support embedded videos.
              </video>

              <h3 class="name">{{ index . "name" }}</h3>

              <p class="author">by {{ index . "author" }}</p>

              <p class="description">{{ index . "description" }}</p>
            </div>
          {{ end }}

          </div>
        {{ end }}
      </div>
      <!-- /.col-md-7 -->

    </div>
    <!-- /.row -->

  </div>
</section>

{{ end }}
