{{ with .GetPage "/introduction" }}

<section id="introduction">
  <div class="container">

    <div class="row">

      <div class="col-md-5">
        <h2>{{ .Title }}</h2>

        {{ .Content }}

        {{ with .Params.Cta }}
          <div class="cta">
            <a class="btn btn-dark btn-lg" href="{{ $.Site.Params.Registration.Href }}">{{ .Text }}</a>
          </div>
        {{ end }}
      </div>
      <!-- /.col... -->

    </div>
    <!-- /.row -->

  </div>

  <div class="imagefill">
    <!-- Cosmetic treatment via CSS here -->
  </div>
</section>

{{ end }}
