{{ with .GetPage "/location" }}

{{ $base := .Permalink }}

<section id="location">
  <div class="container">

    <div class="row">

      <div class="col-md-5">
        <h2>{{ .Title }}</h2>

        {{ .Content }}

        <div class="visit">
          <h3>{{ .Params.Visit.Title }}</h3>

          <p class="lead">{{ .Params.Visit.Description }}</p>

          <a class="btn btn-dark btn-lg"
            href="{{ .Params.Visit.Link_href }}">
            {{ .Params.Visit.link_text }}
          </a>
        </div>
      </div>
      <!-- /.col-md-5 -->

    </div>
    <!-- /.row -->

  </div>

  <div id="map">
    <!--Leaflet is used to generate this one -->
  </div>

  <script type="text/javascript" src="libs/leaflet/leaflet.js"></script>

  <script type="text/javascript">
    var map = L.map('map', {
       scrollWheelZoom: false,
       dragging: false,
       tap: false
    }).setView([60.18867, 24.83350], 17);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 17,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoia3Jpd2tyb3ciLCJhIjoiY2t3ejFib3RrMDB5eDJ2bzV4eWdmMmlsZyJ9.sT9b8zWBKKcTLFAtRg-62g'
    }).addTo(map);

    L.marker([60.18867, 24.83350]).addTo(map)
        .bindPopup('Aalto Fablab, Otakaari 7, 02150 Espoo')
        .openPopup();
  </script>
</section>

{{ end }}
