{{ with .GetPage "/pricing" }}

{{ $base := .Permalink }}

<section id="pricing">
  <div class="container">

    <div class="row">

      <div class="col-md-5">
        <h2>{{ .Title }}</h2>

        {{ .Content }}
      </div>
      <!-- /.col-md-5 -->

      <div class="col-md-7">
        <div class="wrapper">

          <table class="table table-light">
            <thead>
              <tr>
                <td>&nbsp;</td>
                {{ with .Params.Option }}
                  {{ range . }}
                    <td class="text-center">{{ index . "name" }}<br>{{ index . "price" }}</td>
                  {{ end }}
                {{ end }}
              </tr>
            </thead>
            <tbody>
              {{ with .Params.Feature }}
                {{ range . }}
                  <tr>
                    <td>{{ index . "name" }}</td>

                    <td class="text-center">
                      {{ $onsite := (index . "onsite") }}
                      {{ if eq $onsite true }}
                        <img src="/media/icons/yes.svg" alt="Yes">
                      {{ else }}
                        <img src="/media/icons/no.svg" alt="No">
                      {{ end }}
                    </td>

                    <td class="text-center">
                      {{ $remote := (index . "remote") }}
                      {{ if eq $remote true }}
                        <img src="/media/icons/yes.svg" alt="Yes">
                      {{ else }}
                        <img src="/media/icons/no.svg" alt="No">
                      {{ end }}
                    </td>
                  </tr>
                {{ end }}
              {{ end }}
            </tbody>
          </table>

        </div>
      </div>
      <!-- /.col-md-5 -->

    </div>
    <!-- /.row -->

  </div>
</section>

{{ end }}
