{{ with .GetPage "/privacy" }}

{{ $base := .Permalink }}

<!-- We are not evil -->
<section id="privacy">
  <div class="container">

    <div class="row">
      <div class="col-md-6">

        <h2>{{ .Title }}</h2>

        {{ .Content }}
        
      </div>
    </div>

  </div>
</section>

{{ end }}
