<!-- Meta base -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ $.Site.Params.Description }}">
<meta name="author" content="{{ $.Site.Params.Author }}">

<!-- Icons -->
<link rel="icon" href="/favicon.ico" sizes="16x16 32x32" type="image/png">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- Meta Twitther -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@aaltofablab">
<meta name="twitter:image" content="{{ $.Site.BaseURL }}media/AaltoFabAcademy_1080x1080.png">
<!-- The rest will be taken from og tags below
     See https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started#display -->

<!-- Meta Facebook (not Facebook Meta) -->
<meta property="og:title" content="{{ $.Site.Title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ $.Site.BaseURL }}">
<meta property="og:image" content="{{ $.Site.BaseURL }}media/AaltoFabAcademy_1920x1080.png">
<meta property="og:description" content="{{ $.Site.Params.Description }}">
