<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand" href="#">
      <img src="media/aalto-fab-sm.svg"
				alt="Aalto Fab"
        class="d-inline-block d-md-none">
			<img src="media/aalto-fab-lg.svg"
				alt="Aalto Fab Academy"
				class="d-none d-md-inline-block">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a class="nav-link" href="#introduction">About</a>
        <a class="nav-link" href="#content">Course Content</a>
        <a class="nav-link" href="#inspiration">Get Inspired</a>
        <a class="nav-link" href="#location">Location</a>
        <a class="nav-link" href="#join">Register</a>
      </div>
    </div>
  </div>
</nav>
