<!-- Libraries -->
<script type="text/javascript" src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="libs/jquery/jquery.min.js"></script>

<!-- Custom scripts -->
<script src="js/main.js?v={{ now.Unix }}"></script>
