<!-- Style etc. -->
<link rel="manifest" href="site.webmanifest">
<link rel="apple-touch-icon" href="icon.png">
<link rel="icon" href="favicon.ico?" type="image/x-icon">

<link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/libs/leaflet/leaflet.css">

<link rel="stylesheet" href="css/main.css?v={{ now.Unix }}">
