<!doctype html>
<html class="no-js" lang="en">

<head>
  {{ partial "meta.html" . }}
  {{ partial "style.html" . }}

  <title>{{ .Site.Title }}</title>
</head>

<body>

  {{ partial "navigation.html" . }}

  <!-- Main content -->
  <main id="home">
    <div class="container">

      <div class="row">

        <div class="col-md-5">
          <h1>{{ .Site.Title }}</h1>

          <div class="content">
            {{ .Content }}
          </div>

          <div class="tagcloud">
            {{ range .Params.Tags }}
              <span class="badge bg-light text-dark">{{ . }}</span>
            {{ end }}
          </div>

          <div class="links">

            {{ with .Params.Cta }}
              <p class="lead">{{ .Lead }}</p>
            {{ end }}

            <div class="row">
              {{ with .Params.Cta }}
                <div class="col-lg-5">
                  <a class="cta btn btn-dark" href="{{ .Href }}">{{ .Text }}</a>
                </div>
              {{ end }}

              {{ with .Params.Continue }}
                <div class="col-lg-7">
                  <a class="continue btn btn-outline-dark" href="{{ .Href }}">{{ .Text }}</a>
                </div>
              {{ end }}
            </div>
          </div><!-- /.links -->

        </div>
        <!-- /.col-md-5 -->

      </div>
      <!-- /.row -->

    </div>
  </main>

  <!-- Sections -->
  {{ partial "sections/introduction.html" . }}
  {{ partial "sections/content.html" . }}
  {{ partial "sections/inspiration.html" . }}
  {{ partial "sections/pricing.html" . }}
  {{ partial "sections/location.html" . }}
  {{ partial "sections/contact.html" . }}
  {{ partial "sections/privacy.html" . }}

  <!-- Video background -->
  <div class="background">
		<video width="800"
			preload="metadata"
			loop muted autoplay playsinline>
			<source
    		src="/media/aalto-fab-academy-web.webm"
    		type="video/webm">
			<source
				src="/media/aalto-fab-academy-web.mp4"
				type="video/mp4">
			Sorry, your browser doesn't support embedded videos.
		</video>
	</div>

  {{ partial "scripts.html" }}
</body>
</html>
